force-app/main/default/flows/Assign_Account_Manager_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Error_Outputs</name>
        <label>Set Error Outputs</label>
        <locationX>620</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Success_Outputs</name>
        <label>Set Success Outputs</label>
        <locationX>176</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignedUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignedUserName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSelectedUserName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Use_Found_User</name>
        <label>Use Found User</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>varSelectedUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_User_By_Name.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedUserName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_User_By_Name.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account_Manager_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_Running_User</name>
        <label>Use Running User</label>
        <locationX>400</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>varSelectedUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Running_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedUserName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Running_User.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account_Manager_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Search_Name_Blank</name>
        <label>Is Search Name Blank?</label>
        <locationX>264</locationX>
        <locationY>120</locationY>
        <defaultConnector>
            <targetReference>Search_User_By_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Search Name</defaultConnectorLabel>
        <rules>
            <name>Search_Name_Is_Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>searchName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>searchName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Running_User</targetReference>
            </connector>
            <label>Search Name Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Found</name>
        <label>User Found?</label>
        <locationX>264</locationX>
        <locationY>240</locationY>
        <defaultConnector>
            <targetReference>Get_Running_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>User_Was_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_User_By_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_Found_User</targetReference>
            </connector>
            <label>User Was Found</label>
        </rules>
    </decisions>
    <description>Searches for an active user by name and assigns them as Account Manager. Falls back to running user if not found. Replaces AssignAccountManagerAction Apex class.</description>
    <formulas>
        <name>formulaSearchPattern</name>
        <dataType>String</dataType>
        <expression>{!searchName}</expression>
    </formulas>
    <formulas>
        <name>formulaValidThruDate</name>
        <dataType>Date</dataType>
        <expression>DATE(2099, 12, 31)</expression>
    </formulas>
    <isAdditionalPermissionRequiredToRun>false</isAdditionalPermissionRequiredToRun>
    <label>Assign Account Manager Onboarding</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_Manager_Record</name>
        <label>Create Account Manager Record</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <connector>
            <targetReference>Set_Success_Outputs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Outputs</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>cgcloud__Account__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__User__c</field>
            <value>
                <elementReference>varSelectedUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Valid_From__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Valid_Thru__c</field>
            <value>
                <elementReference>formulaValidThruDate</elementReference>
            </value>
        </inputAssignments>
        <object>cgcloud__Account_Manager__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Running_User</name>
        <label>Get Running User</label>
        <locationX>400</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Use_Running_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_User_By_Name</name>
        <label>Search User By Name</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>formulaSearchPattern</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Search_Name_Blank</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>assignedUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>searchName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSelectedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
