force-app/main/default/flows/Create_Account_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Error_Outputs</name>
        <label>Set Error Outputs</label>
        <locationX>400</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Validation_Error</name>
        <label>Set Validation Error</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The provided mobile number is invalid. Please provide a valid number with at least 10 digits.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Email_Validation_Error</name>
        <label>Set Email Validation Error</label>
        <locationX>350</locationX>
        <locationY>100</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The provided email address is invalid. Please provide a valid email address (for example: client@example.com).</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Success_Outputs</name>
        <label>Set Success Outputs</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Mobile_Number</name>
        <label>Check Mobile Number</label>
        <locationX>176</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Check_Email_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isInvalidMobile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Validation_Error</targetReference>
            </connector>
            <label>Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email_Address</name>
        <label>Check Email Address</label>
        <locationX>176</locationX>
        <locationY>85</locationY>
        <defaultConnector>
            <targetReference>Create_Account_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>Invalid_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isInvalidEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Validation_Error</targetReference>
            </connector>
            <label>Invalid Email</label>
        </rules>
    </decisions>
    <description>Creates a new customer Account record with billing and shipping address for the onboarding process. Replaces CreateAccountAction Apex class.</description>
    <isAdditionalPermissionRequiredToRun>false</isAdditionalPermissionRequiredToRun>
    <label>Create Account Onboarding</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_Record</name>
        <label>Create Account Record</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignRecordIdToReference>accountId</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Success_Outputs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Outputs</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>accountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>mobileNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Account_Email__c</field>
            <value>
                <elementReference>emailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>country</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Mobile_Number</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>city</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>mobileNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>postalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>state</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <formulas>
        <name>isInvalidMobile</name>
        <dataType>Boolean</dataType>
        <expression>LEN(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!mobileNumber}, &apos;-&apos;, &apos;&apos;), &apos; &apos;, &apos;&apos;), &apos;+&apos;, &apos;&apos;)) &lt; 10</expression>
    </formulas>
    <formulas>
        <name>isInvalidEmail</name>
        <dataType>Boolean</dataType>
        <expression>NOT(REGEX({!emailAddress}, &quot;^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$&quot;))</expression>
    </formulas>
</Flow>
