force-app/main/default/flows/Create_Onboarding_Tasks_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Build_Task_1</name>
        <label>Build Sales Task 1 - Customer Introduction</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Description_Language_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer introduction</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_2</name>
        <label>Build Sales Task 2 - Product Discussion</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Description_Language_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product discussion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_3</name>
        <label>Build Sales Task 3 - Visit Scheduling</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Description_Language_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial visit scheduling</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_4</name>
        <label>Build Finance Task 1 - Credit Verification</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Description_Language_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit verification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_5</name>
        <label>Build Finance Task 2 - Payment Setup</label>
        <locationX>176</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Description_Language_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payment setup</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_6</name>
        <label>Build Distribution Task - Delivery Readiness</label>
        <locationX>176</locationX>
        <locationY>720</locationY>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Description_Language_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delivery readiness verification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempTask.cgcloud__Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_All_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Outputs</name>
        <label>Set Error Outputs</label>
        <locationX>400</locationX>
        <locationY>840</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tasksCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Success_Outputs</name>
        <label>Set Success Outputs</label>
        <locationX>176</locationX>
        <locationY>960</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tasksCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>6</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>Creates 6 onboarding tasks (Sales, Finance, Distribution) for a new Account using a collection. Replaces CreateOnboardingTasksAction Apex class.</description>
    <isAdditionalPermissionRequiredToRun>false</isAdditionalPermissionRequiredToRun>
    <label>Create Onboarding Tasks Onboarding</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_All_Tasks</name>
        <label>Create All Tasks</label>
        <locationX>176</locationX>
        <locationY>840</locationY>
        <connector>
            <targetReference>Set_Success_Outputs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Outputs</targetReference>
        </faultConnector>
        <inputReference>taskCollection</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Build_Task_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>taskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cgcloud__Account_Task__c</objectType>
    </variables>
    <variables>
        <name>tasksCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>tempTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cgcloud__Account_Task__c</objectType>
    </variables>
</Flow>
