force-app/main/default/flows/Create_Contact_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Error_Outputs</name>
        <label>Set Error Outputs</label>
        <locationX>400</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Validation_Error</name>
        <label>Set Validation Error</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The provided mobile number is invalid. Please provide a valid number with at least 10 digits.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Email_Validation_Error</name>
        <label>Set Email Validation Error</label>
        <locationX>350</locationX>
        <locationY>100</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The provided email address is invalid. Please provide a valid email address (for example: contact@example.com).</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Full_Name_As_LastName</name>
        <label>Set Full Name As LastName</label>
        <locationX>400</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>parsedFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parsedLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Split_Names</name>
        <label>Set Split Names</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>parsedFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parsedLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaLastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Success_Outputs</name>
        <label>Set Success Outputs</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Mobile_Number</name>
        <label>Check Mobile Number</label>
        <locationX>176</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Check_Email_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isInvalidMobile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Validation_Error</targetReference>
            </connector>
            <label>Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email_Address</name>
        <label>Check Email Address</label>
        <locationX>176</locationX>
        <locationY>85</locationY>
        <defaultConnector>
            <targetReference>Has_Space_In_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>Invalid_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isInvalidEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Validation_Error</targetReference>
            </connector>
            <label>Invalid Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Space_In_Name</name>
        <label>Has Space In Name?</label>
        <locationX>264</locationX>
        <locationY>120</locationY>
        <defaultConnector>
            <targetReference>Set_Full_Name_As_LastName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Space</defaultConnectorLabel>
        <rules>
            <name>Name_Contains_Space</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaHasSpace</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Split_Names</targetReference>
            </connector>
            <label>Name Contains Space</label>
        </rules>
    </decisions>
    <description>Creates a Contact record linked to an Account. Splits contactName into FirstName/LastName matching Apex substringBefore/substringAfter logic. Replaces CreateContactAction Apex class.</description>
    <formulas>
        <name>formulaFirstName</name>
        <dataType>String</dataType>
        <expression>LEFT({!contactName}, FIND(&quot; &quot;, {!contactName}) - 1)</expression>
    </formulas>
    <formulas>
        <name>formulaHasSpace</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!contactName})), CONTAINS({!contactName}, &quot; &quot;))</expression>
    </formulas>
    <formulas>
        <name>formulaLastName</name>
        <dataType>String</dataType>
        <expression>MID({!contactName}, FIND(&quot; &quot;, {!contactName}) + 1, LEN({!contactName}))</expression>
    </formulas>
    <formulas>
        <name>isInvalidMobile</name>
        <dataType>Boolean</dataType>
        <expression>LEN(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!mobileNumber}, &apos;-&apos;, &apos;&apos;), &apos; &apos;, &apos;&apos;), &apos;+&apos;, &apos;&apos;)) &lt; 10</expression>
    </formulas>
    <formulas>
        <name>isInvalidEmail</name>
        <dataType>Boolean</dataType>
        <expression>NOT(REGEX({!emailAddress}, &quot;^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$&quot;))</expression>
    </formulas>
    <isAdditionalPermissionRequiredToRun>false</isAdditionalPermissionRequiredToRun>
    <label>Create Contact Onboarding</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Record</name>
        <label>Create Contact Record</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignRecordIdToReference>contactId</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Success_Outputs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Outputs</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>parsedFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>parsedLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>emailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>mobileNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>designation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Job_Title__c</field>
            <value>
                <elementReference>designation</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Mobile_Number</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>designation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isPrimary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mobileNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parsedFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parsedLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
