force-app/main/default/flows/Trigger_Account_Extension_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Already_Exists_Output</name>
        <label>Set Already Exists Output</label>
        <locationX>400</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Extension already exists.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Error_Not_Found</name>
        <label>Set Error - Account Not Found</label>
        <locationX>620</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account not found.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Error_Outputs</name>
        <label>Set Error Outputs</label>
        <locationX>620</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Success_Outputs</name>
        <label>Set Success Outputs</label>
        <locationX>176</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Account_Found</name>
        <label>Account Found?</label>
        <locationX>264</locationX>
        <locationY>240</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Account_Was_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Existing_Extension</targetReference>
            </connector>
            <label>Account Was Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Existing_Extension</name>
        <label>Has Existing Extension?</label>
        <locationX>264</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Create_Extension_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Extension - Proceed</defaultConnectorLabel>
        <rules>
            <name>Extension_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Account.cgcloud__Number_Of_Extensions__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Already_Exists_Output</targetReference>
            </connector>
            <label>Extension Already Exists</label>
        </rules>
    </decisions>
    <description>Triggers Account Extension logic - queries Account, checks for existing extensions, calculates dates, and creates a cgcloud__Account_Extension__c record with 25+ fields. Replaces TriggerAccountExtensionAction Apex class.</description>
    <formulas>
        <name>formulaFromDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!Lookup_Account.CreatedDate}), TODAY(), DATEVALUE({!Lookup_Account.CreatedDate}))</expression>
    </formulas>
    <formulas>
        <name>formulaThruDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!formulaFromDate}, 1)</expression>
    </formulas>
    <isAdditionalPermissionRequiredToRun>false</isAdditionalPermissionRequiredToRun>
    <label>Trigger Account Extension Onboarding</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Extension_Record</name>
        <label>Create Extension Record</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <assignRecordIdToReference>extensionId</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Success_Outputs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Outputs</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>cgcloud__account__c</field>
            <value>
                <elementReference>Lookup_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__customer_id__c</field>
            <value>
                <elementReference>Lookup_Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__priority__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Phase__c</field>
            <value>
                <stringValue>Priority ERP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Sales_Relevant__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__pricing_type__c</field>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Promotion_Valid_From__c</field>
            <value>
                <elementReference>formulaFromDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Promotion_Valid_Thru__c</field>
            <value>
                <elementReference>formulaThruDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Customer_Role_Price_Type__c</field>
            <value>
                <stringValue>Consumer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__customer_role_valid_from__c</field>
            <value>
                <elementReference>formulaFromDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__customer_role_valid_thru__c</field>
            <value>
                <elementReference>formulaThruDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__bill_to_role_valid_from__c</field>
            <value>
                <elementReference>formulaFromDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__bill_to_role_valid_thru__c</field>
            <value>
                <elementReference>formulaThruDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__delivery_role_valid_from__c</field>
            <value>
                <elementReference>formulaFromDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__delivery_role_valid_thru__c</field>
            <value>
                <elementReference>formulaThruDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Store_Role_Valid_From__c</field>
            <value>
                <elementReference>formulaFromDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Store_Role_Valid_Thru__c</field>
            <value>
                <elementReference>formulaThruDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Order_Role_Valid_From__c</field>
            <value>
                <elementReference>formulaFromDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Order_Role_Valid_Thru__c</field>
            <value>
                <elementReference>formulaThruDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Payer_Role_Valid_From__c</field>
            <value>
                <elementReference>formulaFromDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Payer_Role_Valid_Thru__c</field>
            <value>
                <elementReference>formulaThruDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Broker_Role_Valid_From__c</field>
            <value>
                <elementReference>formulaFromDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Broker_Role_Valid_Thru__c</field>
            <value>
                <elementReference>formulaThruDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Payer_Role_Credit_Rating__c</field>
            <value>
                <stringValue>A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Invoice_Document_Transaction_Type__c</field>
            <value>
                <stringValue>InvoiceCashInvoice</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Payment_Mode__c</field>
            <value>
                <stringValue>Cash</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cgcloud__Date_Closure__c</field>
            <value>
                <elementReference>formulaThruDate</elementReference>
            </value>
        </inputAssignments>
        <object>cgcloud__Account_Extension__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lookup_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>extensionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
