force-app/main/default/flows/Update_Visit_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Planned_Choice</name>
        <choiceText>Planned</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Planned</stringValue>
        </value>
    </choices>
    <choices>
        <name>InProgress_Choice</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>InProgress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Completed_Choice</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Canceled_Choice</name>
        <choiceText>Canceled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Abandoned_Choice</name>
        <choiceText>Abandoned</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Abandoned</stringValue>
        </value>
    </choices>
    <description>Natively update a Visit record status, owner, dates, and notes via screen fields inside the agent panel.</description>
    <label>Update Visit Fields</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Visit</name>
        <label>Get Visit</label>
        <locationX>176</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Visit_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>visitId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Visit</name>
        <label>Update Visit</label>
        <locationX>176</locationX>
        <locationY>400</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>visitId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>cgcloud__Note__c</field>
            <value>
                <elementReference>Visit_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Owner_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlannedVisitEndTime</field>
            <value>
                <elementReference>Planned_End_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlannedVisitStartTime</field>
            <value>
                <elementReference>Planned_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Visit_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Visit</object>
    </recordUpdates>
    <screens>
        <name>Update_Visit_Screen</name>
        <label>Update Visit</label>
        <locationX>176</locationX>
        <locationY>250</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Visit</targetReference>
        </connector>
        <fields>
            <name>Visit_Status</name>
            <choiceReferences>Planned_Choice</choiceReferences>
            <choiceReferences>InProgress_Choice</choiceReferences>
            <choiceReferences>Completed_Choice</choiceReferences>
            <choiceReferences>Canceled_Choice</choiceReferences>
            <choiceReferences>Abandoned_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Visit.Status</elementReference>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Owner_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>OwnerId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Visit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Visit.OwnerId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Planned_Start_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Visit.PlannedVisitStartTime</elementReference>
            </defaultValue>
            <fieldText>Planned Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Planned_End_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Visit.PlannedVisitEndTime</elementReference>
            </defaultValue>
            <fieldText>Planned End Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Visit_Notes</name>
            <defaultValue>
                <elementReference>Get_Visit.cgcloud__Note__c</elementReference>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>


    
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Visit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>visitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
