visit_intelligence_backup/force-app/main/default/flows/Get_Account_Related_Counts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Custom_Assortment_To_Unique_List</name>
        <label>Add Custom Assortment To Unique List</label>
        <locationX>528</locationX>
        <locationY>1200</locationY>
        <connector>
            <targetReference>Loop_Custom_Assortments</targetReference>
        </connector>
        <assignmentItems>
            <assignToReference>uniqueAssortmentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Custom_Assortments.cgcloud__Assortment__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Standard_Assortment_To_Unique_List</name>
        <label>Add Standard Assortment To Unique List</label>
        <locationX>528</locationX>
        <locationY>1760</locationY>
        <connector>
            <targetReference>Loop_Standard_Assortments</targetReference>
        </connector>
        <assignmentItems>
            <assignToReference>uniqueAssortmentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Standard_Assortments.AssortmentId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Actual_Counts</name>
        <label>Assign Actual Counts</label>
        <locationX>176</locationX>
        <locationY>3000</locationY>
        <connector>
            <targetReference>Check_If_All_Zero</targetReference>
        </connector>
        <assignmentItems>
            <assignToReference>totalContacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>contactsColl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalVisits</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>visitsColl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pendingVisitTasks</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>tasksColl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activePromotions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>promosColl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outOfStockCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>oosVisitsColl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalRetailStores</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>retailStoresColl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalAssortments</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>uniqueAssortmentIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalStoreProducts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>storeProductsColl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalTactics</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>tacticsColl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalAssortmentProducts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>assortmentProductsColl</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Mock_Counts</name>
        <label>Assign Mock Counts</label>
        <locationX>308</locationX>
        <locationY>3240</locationY>
        <assignmentItems>
            <assignToReference>totalContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalVisits</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>13.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pendingVisitTasks</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activePromotions</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outOfStockCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalRetailStores</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalAssortments</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalStoreProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalTactics</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalAssortmentProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Collect_Promo_Id</name>
        <label>Collect Promo ID</label>
        <locationX>264</locationX>
        <locationY>2320</locationY>
        <connector>
            <targetReference>Loop_All_Promos</targetReference>
        </connector>
        <assignmentItems>
            <assignToReference>promoIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Promos.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Duplicate_Custom_Assortment</name>
        <label>Check Duplicate Custom Assortment</label>
        <locationX>352</locationX>
        <locationY>1080</locationY>
        <defaultConnector>
            <targetReference>Add_Custom_Assortment_To_Unique_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Assortment ID</defaultConnectorLabel>
        <rules>
            <name>Custom_Assortment_Already_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>uniqueAssortmentIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Custom_Assortments.cgcloud__Assortment__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Custom_Assortments</targetReference>
            </connector>
            <label>Custom Assortment Already Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Duplicate_Standard_Assortment</name>
        <label>Check Duplicate Standard Assortment</label>
        <locationX>352</locationX>
        <locationY>1640</locationY>
        <defaultConnector>
            <targetReference>Add_Standard_Assortment_To_Unique_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Assortment ID</defaultConnectorLabel>
        <rules>
            <name>Standard_Assortment_Already_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>uniqueAssortmentIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Standard_Assortments.AssortmentId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Standard_Assortments</targetReference>
            </connector>
            <label>Standard Assortment Already Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_All_Zero</name>
        <label>Check If All Zero</label>
        <locationX>176</locationX>
        <locationY>3120</locationY>
        <defaultConnectorLabel>Keep Actual Counts</defaultConnectorLabel>
        <rules>
            <name>All_Zero_Use_Mock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totalContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>totalVisits</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mock_Counts</targetReference>
            </connector>
            <label>All Zero Use Mock</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Promo_Ids_Found</name>
        <label>Check Promo IDs Found</label>
        <locationX>176</locationX>
        <locationY>2540</locationY>
        <defaultConnector>
            <targetReference>Get_Tactics</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Promos Found</defaultConnectorLabel>
        <rules>
            <name>No_Promos_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>promoIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assortment_Products</targetReference>
            </connector>
            <label>No Promos Found</label>
        </rules>
    </decisions>
    <description>Retrieve counts of related records (Contacts, Visits, Tasks, Promotions, Out-of-Stock, Retail Stores, Assortments, Store Products, Tactics, Assortment Products) for a given account context.</description>
    <label>Get Account Related Counts</label>
    <loops>
        <name>Loop_All_Promos</name>
        <label>Loop All Promos</label>
        <locationX>176</locationX>
        <locationY>2200</locationY>
        <collectionReference>allPromosColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Promo_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Promo_Ids_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Custom_Assortments</name>
        <label>Loop Custom Assortments</label>
        <locationX>176</locationX>
        <locationY>960</locationY>
        <collectionReference>customAssortmentsColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Duplicate_Custom_Assortment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Standard_Store_Assortments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Standard_Assortments</name>
        <label>Loop Standard Assortments</label>
        <locationX>176</locationX>
        <locationY>1520</locationY>
        <collectionReference>standardAssortmentsColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Duplicate_Standard_Assortment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Store_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Promos_For_Tactics</name>
        <label>Get All Promos For Tactics</label>
        <locationX>176</locationX>
        <locationY>2080</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Promos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cgcloud__Anchor_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>cgcloud__Promotion__c</object>
        <outputReference>allPromosColl</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Get_Assortment_Products</name>
        <label>Get Assortment Products</label>
        <locationX>176</locationX>
        <locationY>2880</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Actual_Counts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssortmentId</field>
            <operator>In</operator>
            <value>
                <elementReference>uniqueAssortmentIds</elementReference>
            </value>
        </filters>
        <object>AssortmentProduct</object>
        <outputReference>assortmentProductsColl</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Visits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contactsColl</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Get_OOS_Visits</name>
        <label>Get OOS Visits</label>
        <locationX>176</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Retail_Stores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>cgcloud__OOS_Issues__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Visit</object>
        <outputReference>oosVisitsColl</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Get_Promotions</name>
        <label>Get Promotions</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OOS_Visits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cgcloud__Anchor_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>cgcloud__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>cgcloud__Promotion__c</object>
        <outputReference>promosColl</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Assortment_Stores</name>
        <label>Get Product Assortment Stores</label>
        <locationX>176</locationX>
        <locationY>840</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Custom_Assortments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cgcloud__Store__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>cgcloud__Product_Assortment_Store__c</object>
        <outputReference>customAssortmentsColl</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Get_Retail_Stores</name>
        <label>Get Retail Stores</label>
        <locationX>176</locationX>
        <locationY>720</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Assortment_Stores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>RetailStore</object>
        <outputReference>retailStoresColl</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Store_Assortments</name>
        <label>Get Standard Store Assortments</label>
        <locationX>176</locationX>
        <locationY>1400</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Standard_Assortments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>StoreAssortment</object>
        <outputReference>standardAssortmentsColl</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Get_Store_Products</name>
        <label>Get Store Products</label>
        <locationX>176</locationX>
        <locationY>1960</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Promos_For_Tactics</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>StoreProduct</object>
        <outputReference>storeProductsColl</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Get_Tactics</name>
        <label>Get Tactics</label>
        <locationX>264</locationX>
        <locationY>2660</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assortment_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cgcloud__Promotion__c</field>
            <operator>In</operator>
            <value>
                <elementReference>promoIds</elementReference>
            </value>
        </filters>
        <object>cgcloud__Tactic__c</object>
        <outputReference>tacticsColl</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks</name>
        <label>Get Tasks</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Promotions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>tasksColl</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Get_Visits</name>
        <label>Get Visits</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Visit</object>
        <outputReference>visitsColl</outputReference>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>activePromotions</name>
        <dataType>Number</dataType>
        <scale>0</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>allPromosColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cgcloud__Promotion__c</objectType>
    </variables>
    <variables>
        <name>assortmentProductsColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssortmentProduct</objectType>
    </variables>
    <variables>
        <name>contactsColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>customAssortmentsColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cgcloud__Product_Assortment_Store__c</objectType>
    </variables>
    <variables>
        <name>oosVisitsColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>outOfStockCount</name>
        <dataType>Number</dataType>
        <scale>0</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pendingVisitTasks</name>
        <dataType>Number</dataType>
        <scale>0</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>promoIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>promosColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cgcloud__Promotion__c</objectType>
    </variables>
    <variables>
        <name>retailStoresColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RetailStore</objectType>
    </variables>
    <variables>
        <name>standardAssortmentsColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StoreAssortment</objectType>
    </variables>
    <variables>
        <name>storeProductsColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StoreProduct</objectType>
    </variables>
    <variables>
        <name>tacticsColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cgcloud__Tactic__c</objectType>
    </variables>
    <variables>
        <name>totalAssortmentProducts</name>
        <dataType>Number</dataType>
        <scale>0</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>totalAssortments</name>
        <dataType>Number</dataType>
        <scale>0</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>totalContacts</name>
        <dataType>Number</dataType>
        <scale>0</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>totalRetailStores</name>
        <dataType>Number</dataType>
        <scale>0</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>totalStoreProducts</name>
        <dataType>Number</dataType>
        <scale>0</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>totalTactics</name>
        <dataType>Number</dataType>
        <scale>0</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>totalVisits</name>
        <dataType>Number</dataType>
        <scale>0</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>uniqueAssortmentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tasksColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>visitsColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
</Flow>
