visit_intelligence_backup/force-app/main/default/flows/Get_Order_Line_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Header</name>
        <label>Assign Header</label>
        <locationX>50</locationX>
        <locationY>480</locationY>
        <connector>
            <targetReference>Loop_Items</targetReference>
        </connector>
        <assignmentItems>
            <assignToReference>itemsSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HeaderTemplate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Item_Line</name>
        <label>Assign Item Line</label>
        <locationX>138</locationX>
        <locationY>840</locationY>
        <connector>
            <targetReference>Loop_Items</targetReference>
        </connector>
        <assignmentItems>
            <assignToReference>itemsSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ItemLineTemplate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_No_Items</name>
        <label>Assign No Items</label>
        <locationX>308</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>itemsSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No items found.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>itemCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Get_Count_and_Assign_Header</name>
        <label>Get Count and Assign Header</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Assign_Header</targetReference>
        </connector>
        <assignmentItems>
            <assignToReference>itemCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>itemsCollection</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Items_Found</name>
        <label>Check Items Found</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <defaultConnector>
            <targetReference>Assign_No_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Items</defaultConnectorLabel>
        <rules>
            <name>Items_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>itemsCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Count_and_Assign_Header</targetReference>
            </connector>
            <label>Items Exist</label>
        </rules>
    </decisions>
    <description>Retrieve product line items (product name, quantity, UOM) for a specific CG Cloud Order.</description>
    <formulas>
        <name>LoopQuantityFormatted</name>
        <dataType>String</dataType>
        <expression>TEXT(ROUND(BLANKVALUE({!Loop_Items.cgcloud__Quantity__c}, 0), 0))</expression>
    </formulas>
    <formulas>
        <name>LoopUOMFormatted</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Loop_Items.cgcloud__UOM__c})), &quot;PCS&quot;, TEXT({!Loop_Items.cgcloud__UOM__c}))</expression>
    </formulas>
    <formulas>
        <name>ProductNameFormatted</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!currentProductName}), &quot;Unknown Product&quot;, {!currentProductName})</expression>
    </formulas>
    <label>Get Order Line Items</label>
    <loops>
        <name>Loop_Items</name>
        <label>Loop Items</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <collectionReference>itemsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lookup_Product_Name</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Items</name>
        <label>Get Order Items</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Items_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>cgcloud__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <object>cgcloud__Order_Item__c</object>
        <outputReference>itemsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>cgcloud__Product__c</queriedFields>
        <queriedFields>cgcloud__Quantity__c</queriedFields>
        <queriedFields>cgcloud__UOM__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Product_Name</name>
        <label>Lookup Product Name</label>
        <locationX>138</locationX>
        <locationY>720</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Item_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Items.cgcloud__Product__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>currentProductName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>HeaderTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>📋 Order Line Items ({!itemCount} total)</text>
    </textTemplates>
    <textTemplates>
        <name>ItemLineTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!itemsSummary}
     • {!ProductNameFormatted}  —  {!LoopQuantityFormatted} {!LoopUOMFormatted}</text>
    </textTemplates>
    <variables>
        <name>currentProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>itemCount</name>
        <dataType>Number</dataType>
        <scale>0</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>itemsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>cgcloud__Order_Item__c</objectType>
    </variables>
    <variables>
        <name>itemsSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
