visit_intelligence_backup/force-app/main/default/flows/Get_Available_Visits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Mock_Visits</name>
        <label>Assign Mock Visits</label>
        <locationX>308</locationX>
        <locationY>3900</locationY>
        <assignmentItems>
            <assignToReference>singleVisit.visitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>mock_visit_1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.accountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ABC Retail Store</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Today</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Visit - ABC Retail Store
     • 📅 Date: Today 10:00 AM
     • 📋 Status: Open
     • 👤 Assigned: Mock User</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>visits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleVisit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.visitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>mock_visit_2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.accountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>XYZ Supermarket</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Today</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Visit - XYZ Supermarket
     • 📅 Date: Today 2:00 PM
     • 📋 Status: InProgress
     • 👤 Assigned: Mock User</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>visits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleVisit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.visitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>mock_visit_3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.accountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fresh Mart</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Upcoming</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Visit - Fresh Mart
     • 📅 Date: Tomorrow
     • 📋 Status: Open
     • 👤 Assigned: Mock User</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>visits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleVisit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.visitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>mock_visit_4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.accountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>City Hypermarket</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recently Viewed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Visit - City Hypermarket
     • 📅 Date: Recently Viewed
     • 📋 Status: Completed
     • 👤 Assigned: Mock User</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>visits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleVisit</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owned_VisitOption</name>
        <label>Assign Owned VisitOption</label>
        <locationX>528</locationX>
        <locationY>3600</locationY>
        <connector>
            <targetReference>Loop_Owned</targetReference>
        </connector>
        <assignmentItems>
            <assignToReference>currentVisitStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Owned.PlannedVisitStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.visitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Owned.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.accountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempAccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Owned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnedLabelTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>visits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleVisit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addedVisitIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Owned.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Recent_VisitOption</name>
        <label>Assign Recent VisitOption</label>
        <locationX>528</locationX>
        <locationY>2680</locationY>
        <connector>
            <targetReference>Loop_Recent</targetReference>
        </connector>
        <assignmentItems>
            <assignToReference>currentVisitStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Recent.PlannedVisitStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.visitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Recent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.accountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempAccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recently Viewed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecentLabelTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>visits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleVisit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addedVisitIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Recent.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Today_VisitOption</name>
        <label>Assign Today VisitOption</label>
        <locationX>528</locationX>
        <locationY>840</locationY>
        <connector>
            <targetReference>Loop_Today</targetReference>
        </connector>
        <assignmentItems>
            <assignToReference>currentVisitStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Today.PlannedVisitStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.visitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Today.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.accountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempAccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Today</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayLabelTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>visits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleVisit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addedVisitIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Today.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Upcoming_VisitOption</name>
        <label>Assign Upcoming VisitOption</label>
        <locationX>528</locationX>
        <locationY>1760</locationY>
        <connector>
            <targetReference>Loop_Upcoming</targetReference>
        </connector>
        <assignmentItems>
            <assignToReference>currentVisitStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Upcoming.PlannedVisitStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.visitId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Upcoming.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.accountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempAccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Upcoming</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVisit.label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpcomingLabelTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>visits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleVisit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addedVisitIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Upcoming.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Duplicate_Owned</name>
        <label>Check Duplicate Owned</label>
        <locationX>352</locationX>
        <locationY>3120</locationY>
        <defaultConnector>
            <targetReference>Lookup_Owned_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Visit</defaultConnectorLabel>
        <rules>
            <name>Owned_Visit_Already_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addedVisitIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Owned.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Owned</targetReference>
            </connector>
            <label>Owned Visit Already Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Duplicate_Recent</name>
        <label>Check Duplicate Recent</label>
        <locationX>352</locationX>
        <locationY>2200</locationY>
        <defaultConnector>
            <targetReference>Lookup_Recent_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Visit</defaultConnectorLabel>
        <rules>
            <name>Recent_Visit_Already_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addedVisitIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Recent.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Recent</targetReference>
            </connector>
            <label>Recent Visit Already Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Duplicate_Today</name>
        <label>Check Duplicate Today</label>
        <locationX>352</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Lookup_Today_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Visit</defaultConnectorLabel>
        <rules>
            <name>Today_Visit_Already_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addedVisitIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Today.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Today</targetReference>
            </connector>
            <label>Today Visit Already Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Duplicate_Upcoming</name>
        <label>Check Duplicate Upcoming</label>
        <locationX>352</locationX>
        <locationY>1280</locationY>
        <defaultConnector>
            <targetReference>Lookup_Upcoming_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Visit</defaultConnectorLabel>
        <rules>
            <name>Upcoming_Visit_Already_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addedVisitIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Upcoming.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Upcoming</targetReference>
            </connector>
            <label>Upcoming Visit Already Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Visits_Empty</name>
        <label>Check If Visits Empty</label>
        <locationX>176</locationX>
        <locationY>3780</locationY>
        <defaultConnectorLabel>Visits Found</defaultConnectorLabel>
        <rules>
            <name>No_Visits_Found_Use_Mock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>visits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mock_Visits</targetReference>
            </connector>
            <label>No Visits Found Use Mock</label>
        </rules>
    </decisions>
    <description>Retrieve user's recently viewed, owned, and scheduled visits for today and the next 7 days.</description>
    <formulas>
        <name>AssignedUserFormatted</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!tempResponsibleName}), {!tempOwnerName}, {!tempResponsibleName})</expression>
    </formulas>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>DayOfWeekFormatted</name>
        <dataType>String</dataType>
        <expression>
            IF(
                ISBLANK({!currentVisitStartTime}),
                &quot;Upcoming&quot;,
                CASE(
                    WEEKDAY(DATEVALUE({!currentVisitStartTime} + (5.5 / 24))),
                    1, &quot;Sunday&quot;,
                    2, &quot;Monday&quot;,
                    3, &quot;Tuesday&quot;,
                    4, &quot;Wednesday&quot;,
                    5, &quot;Thursday&quot;,
                    6, &quot;Friday&quot;,
                    &quot;Saturday&quot;
                )
            )
        </expression>
    </formulas>
    <formulas>
        <name>EndOfToday</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TODAY() + 1)</expression>
    </formulas>

    <formulas>
        <name>SevenDaysFromNow</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TODAY() + 8)</expression>
    </formulas>
    <formulas>
        <name>StartOfToday</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TODAY())</expression>
    </formulas>
    <formulas>
        <name>TimeFormatted</name>
        <dataType>String</dataType>
        <expression>
            IF(
                ISBLANK({!currentVisitStartTime}),
                &quot;&quot;,
                TEXT(
                    IF(
                        OR(
                            VALUE(MID(TEXT({!currentVisitStartTime} + (5.5 / 24)), 12, 2)) = 0,
                            VALUE(MID(TEXT({!currentVisitStartTime} + (5.5 / 24)), 12, 2)) = 12
                        ),
                        12,
                        IF(
                            VALUE(MID(TEXT({!currentVisitStartTime} + (5.5 / 24)), 12, 2)) &gt; 12,
                            VALUE(MID(TEXT({!currentVisitStartTime} + (5.5 / 24)), 12, 2)) - 12,
                            VALUE(MID(TEXT({!currentVisitStartTime} + (5.5 / 24)), 12, 2))
                        )
                    )
                ) &amp; &quot;:&quot; &amp; MID(TEXT({!currentVisitStartTime} + (5.5 / 24)), 15, 2) &amp; &quot; &quot; &amp;
                IF(VALUE(MID(TEXT({!currentVisitStartTime} + (5.5 / 24)), 12, 2)) &gt;= 12, &quot;PM&quot;, &quot;AM&quot;)
            )
        </expression>
    </formulas>

    <label>Get Available Visits</label>
    <loops>
        <name>Loop_Owned</name>
        <label>Loop Owned</label>
        <locationX>176</locationX>
        <locationY>3000</locationY>
        <collectionReference>ownedVisitsColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Duplicate_Owned</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_Visits_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Recent</name>
        <label>Loop Recent</label>
        <locationX>176</locationX>
        <locationY>2080</locationY>
        <collectionReference>recentVisitsColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Duplicate_Recent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Owned_Visits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Today</name>
        <label>Loop Today</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <collectionReference>todayVisitsColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Duplicate_Today</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Upcoming_Visits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Upcoming</name>
        <label>Loop Upcoming</label>
        <locationX>176</locationX>
        <locationY>1160</locationY>
        <collectionReference>upcomingVisitsColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Duplicate_Upcoming</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Recent_Visits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Owned_Visits</name>
        <label>Get Owned Visits</label>
        <locationX>176</locationX>
        <locationY>2880</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Owned</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>cgcloud__Responsible__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <object>Visit</object>
        <outputReference>ownedVisitsColl</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Get_Recent_Visits</name>
        <label>Get Recent Visits</label>
        <locationX>176</locationX>
        <locationY>1960</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Recent</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>cgcloud__Responsible__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <object>Visit</object>
        <outputReference>recentVisitsColl</outputReference>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Today_Visits</name>
        <label>Get Today Visits</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Today</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PlannedVisitStartTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartOfToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>PlannedVisitStartTime</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>EndOfToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>cgcloud__Responsible__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <object>Visit</object>
        <outputReference>todayVisitsColl</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Get_Upcoming_Visits</name>
        <label>Get Upcoming Visits</label>
        <locationX>176</locationX>
        <locationY>1040</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Upcoming</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PlannedVisitStartTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>EndOfToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>PlannedVisitStartTime</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>SevenDaysFromNow</elementReference>
            </value>
        </filters>
        <filters>
            <field>cgcloud__Responsible__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <object>Visit</object>
        <outputReference>upcomingVisitsColl</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Owned_Account</name>
        <label>Lookup Owned Account</label>
        <locationX>528</locationX>
        <locationY>3240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Owned_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Owned.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>tempAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Owned_Owner</name>
        <label>Lookup Owned Owner</label>
        <locationX>528</locationX>
        <locationY>3360</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Owned_Responsible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Owned.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>tempOwnerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Owned_Responsible</name>
        <label>Lookup Owned Responsible</label>
        <locationX>528</locationX>
        <locationY>3480</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owned_VisitOption</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Owned.cgcloud__Responsible__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>tempResponsibleName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Recent_Account</name>
        <label>Lookup Recent Account</label>
        <locationX>528</locationX>
        <locationY>2320</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Recent_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Recent.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>tempAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Recent_Owner</name>
        <label>Lookup Recent Owner</label>
        <locationX>528</locationX>
        <locationY>2440</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Recent_Responsible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Recent.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>tempOwnerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Recent_Responsible</name>
        <label>Lookup Recent Responsible</label>
        <locationX>528</locationX>
        <locationY>2560</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Recent_VisitOption</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Recent.cgcloud__Responsible__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>tempResponsibleName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Today_Account</name>
        <label>Lookup Today Account</label>
        <locationX>528</locationX>
        <locationY>480</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Today_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Today.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>tempAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Today_Owner</name>
        <label>Lookup Today Owner</label>
        <locationX>528</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Today_Responsible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Today.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>tempOwnerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Today_Responsible</name>
        <label>Lookup Today Responsible</label>
        <locationX>528</locationX>
        <locationY>720</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Today_VisitOption</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Today.cgcloud__Responsible__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>tempResponsibleName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Upcoming_Account</name>
        <label>Lookup Upcoming Account</label>
        <locationX>528</locationX>
        <locationY>1400</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Upcoming_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Upcoming.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>tempAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Upcoming_Owner</name>
        <label>Lookup Upcoming Owner</label>
        <locationX>528</locationX>
        <locationY>1520</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Upcoming_Responsible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Upcoming.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>tempOwnerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Upcoming_Responsible</name>
        <label>Lookup Upcoming Responsible</label>
        <locationX>528</locationX>
        <locationY>1640</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Upcoming_VisitOption</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Upcoming.cgcloud__Responsible__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>tempResponsibleName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Today_Visits</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OwnedLabelTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Visit - {!tempAccountName}
     • 📅 Date: N/A
     • 📋 Status: {!Loop_Owned.Status}
     • 👤 Assigned: {!AssignedUserFormatted}</text>
    </textTemplates>
    <textTemplates>
        <name>RecentLabelTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Visit - {!tempAccountName}
     • 📅 Date: Recently Viewed
     • 📋 Status: {!Loop_Recent.Status}
     • 👤 Assigned: {!AssignedUserFormatted}</text>
    </textTemplates>
    <textTemplates>
        <name>TodayLabelTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Visit - {!tempAccountName}
     • 📅 Date: Today {!TimeFormatted}
     • 📋 Status: {!Loop_Today.Status}
     • 👤 Assigned: {!AssignedUserFormatted}</text>
    </textTemplates>
    <textTemplates>
        <name>UpcomingLabelTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Visit - {!tempAccountName}
     • 📅 Date: {!DayOfWeekFormatted}
     • 📋 Status: {!Loop_Upcoming.Status}
     • 👤 Assigned: {!AssignedUserFormatted}</text>
    </textTemplates>
    <variables>
        <name>addedVisitIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentVisitStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dummyInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownedVisitsColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>recentVisitsColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>singleVisit</name>
        <apexClass>VisitOption</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempResponsibleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>todayVisitsColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>upcomingVisitsColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>visits</name>
        <apexClass>VisitOption</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
